doctype html
html
  block head
    title=title
    link(rel='stylesheet', href='/stylesheets/bootstrap-3.3.7.min.css')

  body
    block content
      #header
        h1#app-title(style="margin-top: 0;") #{title}
