doctype html
html
  block head
    title=title
    script(src='/js/jquery-3.1.1.min.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap-3.3.7.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome-4.6.3/css/font-awesome.min.css')
    
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    block content
      #header
        div#app-title #{title}
