extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/shoplist.css')
  link(rel='stylesheet', href='/stylesheets/shop.css')

block append content
  .wrapper
    form(action="/shops/new", method="post")
      .form-group
        label(for="storeName") Nome
        input.input-new-shop.form-control#storeName(placeholder="ex.: Comes e Bebes 203", name="store[name]", required)
      .form-group
        label(for="storeOwner") Responsável
        input.input-new-shop.form-control#storeOwner(placeholder="Nome ou Apelido", name="store[owner]", required)
        input(type='hidden', name='universityId', value='#{universityId}')  
      button.new-shop-btn.btn.btn-primary.btn-block(type="submit", value="Submit") Criar

//- block append content
//-   a(href='/')
//-     i#back-btn.fa.fa-angle-left(aria-hidden='true').back-btn