<div id="holder">
  <div id="header">
    <h1 style="margin-top: 0 !important;"> Lojas H8 </h1>

    <div class="wrapper">
      <div class="row">
        <button type="button" class="col-xs-4  col-sm-3 shop-button">Loja 1</button>
        <button type="button" class="col-xs-4  col-sm-3 shop-button">Loja 2</button>
        <button type="button" class="col-xs-4  col-sm-3 shop-button">Loja 3</button>
        <button type="button" class="col-xs-4  col-sm-3 shop-button">Loja 4</button>
        <button type="button" class="col-xs-4  col-sm-3 shop-button">Loja 5</button>
        <button type="button" class="col-xs-4  col-sm-3 shop-button">Loja 6</button>
        <button type="button" class="col-xs-4  col-sm-3 shop-button">Loja 7</button>
        <button type="button" class="col-xs-4  col-sm-3 shop-button">Loja 8</button>
      </div>
    </div>
  </div>

  <div id="footer">
    <button type="button" class="new-shop">Nova Loja</p>
  </div>
</div>