extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/shoplist.css')

block append content
  #holder
    .wrapper
      .list-group
        each shop, i in shoplist
          a.list-group-item(href="/shops/#{shop._id}") #{shop.name}
            span.badge #{(shop.products || []).length}

    #footer
      a.btn.btn-primary.btn-block(href='/shops/new')
        | Nova Loja
