<!--Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div>
    <h1> Lojas H8 </h1>

    <div class="row">
        <div>
            <button type="button" class="col-xs-4 col-sm-2 shop-button">Loja 1</button>
        </div>

        <div>
            <button type="button" class="col-xs-4 col-sm-2 shop-button">Loja 2</button>
        </div>

        <div>
            <button type="button" class="col-xs-4 col-sm-2 shop-button">Loja 3</button>
        </div>

        <div>
            <button type="button" class="col-xs-4 col-sm-2 shop-button">Loja 4</button>
        </div>

        <div>
            <button type="button" class="col-xs-4 col-sm-2 shop-button">Loja 5</button>
        </div>

        <div>
            <button type="button" class="col-xs-4 col-sm-2 shop-button">Loja 6</button>
        </div>        
    </div>

    <button type="button" class="new-shop"> Nova Loja </p>
</div>