extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/shoplist.css')
  link(rel='stylesheet', href='/stylesheets/shop.css')

block append content
  table
    thead
      tr
        th Produto
        th Preço
        th Disponível
    tbody.wrapper-shop-list
      if shop.products && shop.products.length > 0
        each product, i in shop.products
          tr
            td #{product.name}
            td #{"R$" + product.price.toFixed(2)}
            td #{product.available ? "Sim" : "Não"}
      else
        tr
          td Chocolate
          td R$2.00
          td 15
        tr
          td Cone de churros
          td R$4.00
          td 20
        tr
          td Marmita
          td R$10.00
          td 10

block append content
  a(href='/') 
    i#footer.fa.fa-angle-left(aria-hidden='true').back-btn