body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
  text-align:center;
}

h1 {
  background-color:#CFCFCF;
  color:#1A237E !important;
}

.shop-button {
  padding-bottom: 1em;
  padding-top: 1em;
  background-color:blue;
  color:white;
}

.new-shop {
  padding-bottom: 1em;
  padding-top: 1em;
  background-color:blue;
  color:white;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

html,body{
  height: 100%;
}

#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6em;
  padding: 1rem;
  text-align: center;
}

#holder {
  min-height: 100%;
  margin-bottom: 6em;
  position: relative;
}