@import url("text.css");

body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: "Amaranth";
  font-size: 16px;
}

a {
  color: #00B7FF;
}

div {
  text-align:center;
}

#app-title {
  font-family: "Amaranth";
  font-size: 30px;
  font-weight: 800;
  color: #004C99;
  background-color:#CCCCCC;
  padding-top: 10px;
  margin-bottom: 0px;
}

.shop-button {
  padding-bottom: 1em;
  padding-top: 1em;
  background-color:blue;
  color:white;
}

.new-shop {
  padding-bottom: 1em;
  padding-top: 1em;
  background-color:blue;
  color:white;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}


.wrapper-shop-list {
  width: 95%;
  margin: 0 auto;
}

html, body{
  height: 100%;
}

#shoplist-footer {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  text-align: center;
  margin: 0;
}

#holder {
  margin-bottom: 50px;
  position: relative;

}

.no-side-border {
  border-left: 0 none;
  border-right: 0 none;
}

.new-shop-btn {
  border-radius: 0;
  font-size: 20px;
}

.input-new-shop {
  border-radius: 0;
  margin: 5px;
  width: 98%;
}
