table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #d6d6c2;
}

th, td {
  padding: 15px;
  align-content: center;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
  background-color: #ccffe6;
}