@import url("text.css");

body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: "Amaranth";
  font-size: 14px;
}

a {
  color: #00B7FF;
}

div {
  text-align:center;
}

#app-title {
  font-family: "Amaranth";
  font-weight: 800;
  color: #004C99;
  background-color:#CCCCCC;
  height: 60px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.shop-button {
  padding-bottom: 1em;
  padding-top: 1em;
  background-color:blue;
  color:white;
}

.new-shop {
  padding-bottom: 1em;
  padding-top: 1em;
  background-color:blue;
  color:white;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

html, body{
  height: 100%;
}

#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6em;
  padding: 1rem;
  text-align: center;
}

#holder {
  margin-bottom: 6em;
  position: relative;
}