table {
  border-collapse: collapse;
  width: 100%;
  min-height: 50vh;
}

th {
  background-color: #CCCCCC;
  color: #0080F0;
}

th, td {
  padding: 15px;
  align-content: center;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
  background-color: #ccffe6;
}

#footer {
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  font-size: 25px;
  background-color: #52d4c8;
}

#back-btn {
  position: fixed;
  left: 10px;
  top: 10px;
  padding: 0;
  text-align: left;
  font-size: 40px;
}

.delete-btn {
  background-color: red;
  border-color: darkred;
}

.delete-btn:hover {
  background-color: darkred;
  border-color: black;
}
.delete-btn {
  background-color: red;
  border-color: darkred;
}

.delete-btn:hover {
  background-color: darkred;
  border-color: black;
}