table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #CCCCCC;
  color: #0080F0;
}

th, td {
  padding: 15px;
  align-content: center;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
  background-color: #ccffe6;
}

#footer {
  position: fixed;
  width: 100%;
  left: 10px;
  right: 0;
  bottom: 10px;
  padding: 0;
  text-align: left;
  font-size: 5vh;
}

#back-btn {
  position: fixed;
  left: 10px;
  top: 10px;
  padding: 0;
  text-align: left;
  font-size: 5vh; 
}